MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_EXPECT_LIVE_MODE=false
ZAETTA_SITE_URL=https://zaettasoftware.com
RESEND_API_KEY=
ZAETTA_LICENSE_FROM_EMAIL="Zaetta Capture <licencias@zaettasoftware.com>"
ZAETTA_SUPPORT_EMAIL=soporte@zaettasoftware.com
