*.exe
*.zip
*.log
*.wav
*.m4a
*.flp
New folder (2)/
*.pyc
__pycache__/
build/
dist/
bin/
obj/
.vs/
*.spec
*.user
*.suo
*.swp
.*.swp
*:Zone.Identifier
ChatGPT Image*.png
ZAETTA_CAPTURE/ChatGPT Image*.png
